body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.container {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  touch-action: manipulation;
  background-color: #E7EFF4;
}

.header {
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 60px;
}

.display {
  padding: 1em;
  display: flex;
  justify-content: center;
  font-size: 60px;
  color: green;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 6px 10px;
  margin: 0 8px;
  border: solid black 1px;
  border-radius: 5px;
  box-shadow: 1px 1px;
  color: black;
  background-color: #E7EFF4;
}