:root {
  --black: #000000;
  --green: #008800;
  --gray: #E7EFF4;
  --dark-gray: #CCCCCC;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100svh;
  background-color: var(--gray);
  touch-action: manipulation;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-size: 3.75rem;
  text-shadow: .1rem .1rem var(--dark-gray);
}

.display {
  display: flex;
  justify-content: center;
  padding: 4rem;
  font-size: 4rem;
  color: var(--green);
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  padding: .4rem .8rem;
  margin: 0 .75rem;
  border: .1rem solid var(--black);
  border-radius: .5rem;
  box-shadow: .1rem .1rem;
  color: var(--black);
  background-color: var(--gray);
}